default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  host: localhost
  port: 3306
  username: root
  password: root

development:
  <<: *default
  database: thingspeak_development

test:
  <<: *default
  database: thingspeak_test

production:
  <<: *default
  database: thingspeak_production
